@import url(https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@450);

:root{
    box-sizing: border-box;
    --jaune:#FAB637;
    --rouge:#FF4848;
    --orange:#CC6119;
    --gris:#ECEFF3;
    --grisfonce:#232628;
    --bleu:#6C98E1;
    --blanc: #ffffff;
}
header, footer, #mainfooter #pageContent.h1{
    background-color: #232628;
    color: #ffffff;
}
header{
	height:100px ;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 15;
    padding-left: 5%;
    padding-right: 10%;
    padding-bottom: 1%;
    padding-top: 1%;
}
header h1{
    font-size: 4em;
    font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
    color: var(--blanc);
    margin-left: 10%;
    text-align: center;
}
header h2{
    font-size: 1.3em;
    font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
    color: var(--orange);
    margin-bottom: 0%;
    margin-left: 0%;
}
.txt0{
    font-size: 1.3em;
    font-family: Open Sans, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    margin-top: 0%;
}
.txt{
    font-size: 1.5em;
    color: var(--blanc);
    font-family: Open Sans, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 0%;
}
#icon{
    min-width: 2%;
    min-height: 2%;
    border: 0;
}
#logo{
    min-width: 10%;
    min-height: 10%;
}